<launch>
    <!-- Launch hardware agents -->
    <node name="joy_to_cmd_vel" pkg="joystick_node" type="rosserial-nav-agent.py" output="screen" required="true">
    </node>

    <!-- Launch gui -->
    <!-- <node name="combined_gui" pkg="combined_gui" type="combined_gui.py" output="screen" required="true">
    </node> -->

    <!-- Launch joystick managers -->
    <node name="joystick_manager" pkg="joystick_node" type="joystick-manager.py" output="screen" required="true">
    </node>
</launch>
